<!-- src/app/features/people/people-list.component.html -->
<mat-card class="list-card">
  <mat-toolbar color="primary">People</mat-toolbar>
  <sw-search-bar (search)="onSearch($event)"></sw-search-bar>

  <sw-data-table
    [displayedColumns]="displayed"
    [sortableColumns]="sortable"
    [data]="data"
    [total]="total"
    [pageSize]="pageSize"
    (sortChange)="onSort($event)"
    (pageChange)="onPage($event)">

    <!-- solo formateos especiales -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell        *matCellDef="let p">{{ p.gender }}</td>
    </ng-container>
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell        *matCellDef="let p">{{ p.created | date:'yyyy‑MM‑dd' }}</td>
    </ng-container>

  </sw-data-table>

  <mat-progress-spinner
    *ngIf="loading"
    class="overlay"
    mode="indeterminate"
    diameter="48">
  </mat-progress-spinner>
</mat-card>
