@use '@angular/material' as mat;

@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  @include mat.theme((
    color: (
      primary:   mat.$azure-palette,
      secondary: mat.$blue-palette,
    ),
    typography: Roboto,
    density:    0,
  ));

  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color:            var(--mat-sys-on-surface);
  font:             var(--mat-sys-body-medium);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
